/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

/* Global Styles */
.hero{
    width: 100%;
    height: 100%;
    background-image: url(backgroung.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
}
.hero h2{
    text-align: center;
}

img{
    width: 40px;
    height: 40px;
    cursor: pointer;
    border-radius: 10px;
    margin-left: 2rem;
}
:root {
    --primary-color: #CD163F;
}
*, *::before, *::after {
    box-sizing: border-box;
}

body {
    font-family: monospace, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    display: grid;
    place-items: center;
    min-height: 100vh;
}
input {
    display: block;
    width: 100%;
    padding: 0.80rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
}
label {
    display: block;
    margin-bottom: 0.5rem;
}

/* Styles for Basic items's Next Button. */
.width-50 {
    width: 50%;
}
.ml-auto {
    margin-left: auto;
}
/* Styles for h2 & Credit Link. */
.text-center, .text-center a {
    text-decoration: none;
    text-align: center;
}
.text-center a {
    text-decoration: none;
    font-size: 14px;
}



/* Styles for Form. */
.form {
    width: 30rem;
    margin: 0 auto;
    border: 1px solid #ccc;
    border-radius: 0.35rem;
    padding: 1.5rem;

}

/* Styles for input group. */
.input-group {
    width: 100%;
    margin: 2rem 0;
}
.form-step {
    display: none;
    transform-origin: top;
    animation: animate 0.5s;
}
@keyframes animate {
    from {
        transform: scale(1, 0);
        opacity: 0;
    }
    to {
        transform: scale(1, 1);
        opacity: 1;
    }
}
.form-step-active {
    display: block;
}



/* Responsive Style */
@media (max-width: 850px) {
    .form {
        width: 100vw;
    }
}




:root {
    --primary-color: #CD163F;
}
*, *::before, *::after {
    box-sizing: border-box;
}

body {
    font-family: monospace, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    display: grid;
    place-items: center;
    min-height: 100vh;
}
input {
    display: block;
    width: 100%;
    padding: 0.80rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
}

label {
    display: block;
    margin-bottom: 0.5rem;
}

/* Styles for Progress Bar */
.progressbar {
    position: relative;
    display: flex;
    justify-content: space-between;
    counter-reset: step;
    margin: 2rem 0 4rem;
}
.progressbar::before, .progress {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 4px;
    width: 100%;
    background-color: #dcdcdc;
    z-index: -1;
}
.progress {
    background-color: var(--primary-color);
    width: 0%;
    transition: 0.3s;
    z-index: -1;
}

.progress-step {
    width: 2.1875rem;
    height: 2.1875rem;
    background-color: #dcdcdc;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.progress-step::before {
    counter-increment: step;
    content: counter(step);
}
.progress-step::after {
    content: attr(data-title);
    position: absolute;
    top: calc(100% + 0.5rem);
    font-size: 0.85rem;
    color: #666;
}
.progress-step-active {
    background-color: var(--primary-color);
    color: #f3f3f3;
}

/* Styles for Form. */
form {
    width: 50vw;
    margin: 0 auto;
    border: 1px solid #ccc;
    border-radius: 0.35rem;
    padding: 1.5rem;

}
/* Styles for input group. */
.input-group {
    width: 100%;
    margin: 2rem 0;
}
.form-step {
    display: none;
    transform-origin: top;
    animation: animate 0.5s;
}
@keyframes animate {
    from {
        transform: scale(1, 0);
        opacity: 0;
    }
    to {
        transform: scale(1, 1);
        opacity: 1;
    }
}
.form-step-active {
    display: block;
}


.container{
    margin: 1rem;
    padding-bottom: 1rem;
  }
 /* 
  .dropbtn {
    background-color:#CD163F;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: 1px ;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    box-shadow: 3px;
    margin-top: 5px;
  }
  
  /* Style the dropdown content (hidden by default) */
  /*
  .dropdown-content {
    display: none;
    padding: 1rem;
    position: absolute;
    background-color: white;
    min-width: 50%;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    border-radius: 3px;
    z-index: 1;
  }
  .dropdown-content2 {
    display: none;
    padding: 1rem;
    position: absolute;
    background-color: white;
    min-width: 50%;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    border-radius: 3px;
    z-index: 1;
  }
  .dropdown-content3 {
    display: none;
    padding: 1rem;
    position: absolute;
    background-color: white;
    min-width: 50%;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    border-radius: 3px;
    z-index: 1;
  }
  input{
      font-size: 16px;
      margin-top: 1rem;
      margin-left: 1rem;
      margin-bottom: 1rem;
      font-weight: 400;
      color: #333;
  }
  button{
    box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2);
  }
  
  /* Show the dropdown content when the dropdown button is clicked */
  /*
  .show {
    display: block;
  }
  .checkbox{
    margin-right: 1.5rem;
  }
  */
.dictionary{
    margin-top: 3px;
    background-color: rgb(250, 182, 105);
    border: 1px solid black;
    border-radius: 2px;
    padding: 5px;
    width: 150px;
    margin-left: 5rem;
}
.pdf{
    background-color: white;
    border: 1px solid black;
    border-radius: 2px;
    padding: 6px;
    width: 100px;
    margin-left: 5rem;
    background-color: #CD163F;
    color: white;
    cursor: pointer;
}
.dropbtn {
    background-color: #CD163F;
    color: white;
    padding: 12px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    width: 100%;
}
.dropbtn:hover, .dropbtn:focus {
    background-color: #CD163F;
    cursor: pointer;
   
}
.dropdown {

    margin-right: 20px; /* Adjust spacing between dropdowns */
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 40vw;
    max-height: 400px; /* Set a max height for the dropdown content */
    overflow-y: auto; /* Enable vertical scrollbar */
    border: 1px solid #ddd;
    font-size: 13px;
}
.dropdown-content label {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display:inline-flex;
}
.checkbox{
    width: 10px;
    height: 10px;
}

/* Change color of dropdown links on hover */
.dropdown-content label:hover {
    background-color: #f1f1f1;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the button is clicked) */
.show {
    display: block;
}
